<div class="py-24 bg-gray-900 sm:py-32">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="mx-auto lg:text-center">
      <p class="text-sm font-medium text-gray-400">FAQ</p>
      <h2 class="mt-2 text-4xl font-semibold tracking-tight text-white text-pretty sm:text-5xl lg:text-balance">Questions fréquentes, réponses précises</h2>
      <p class="mt-6 text-gray-400 text-lg/8">Retrouvez ici les réponses aux questions courantes sur la gestion professionnelle des états des lieux pour la location d'appartements.</p>
    </div>
    <div class="mx-auto mt-16 sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 max-w-xl lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Pourquoi déléguer cette mission?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">Un professionnel assure impartialité, gain de temps et conformité. Vous limitez les risques de litiges et obtenez un rapport détaillé, prêt à l'emploi.</dd>
        </div>
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Comment se passe l'intervention?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">Nous fixons un rendez-vous, réalisons l'état des lieux sur place avec photos et observations, puis vous recevez un rapport structuré.</dd>
        </div>
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Quels documents sont remis?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">Vous recevez un rapport complet illustré de photos, détaillant chaque point constaté lors de l'état des lieux.</dd>
        </div>
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Quelle est la durée d'une visite?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">La visite dure en moyenne 1h30 selon la taille de l'appartement.</dd>
        </div>
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Le service convient-il au meublé ?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">Oui, nous réalisons des états des lieux pour les locations vides ou meublées, en intégrant l'inventaire du mobilier.</dd>
        </div>
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Comment prendre rendez-vous?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">Contactez-nous via le formulaire en ligne ou par téléphone pour fixer une date selon vos disponibilités.</dd>
        </div>
        <div class="relative">
          <dt class="font-semibold text-white text-base/7">Faites-vous l’EDL de sortie si vous n’avez pas fait celui d’entrée ?</dt>
          <dd class="mt-2 text-gray-400 text-base/7">Oui, nous pouvons tout à fait réaliser l’état des lieux de sortie même si nous n’avons pas effectué celui d’entrée.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
